<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<script>
    function confirmDelete(recordId) {
        let isConfirmed =  confirm("Are you sure you want to delete this record?");
    }
    if (isConfirmed) {
        window.location.href = "/delete_record/${recordId}/";
    }
</script>
{% extends 'base.html' %}

{%  block content %}
        {% if user.is_authenticated %}
        <h1>Welcome {{ user.username }}</h1>
            <button class="btn btn-primary add_expense_button" type="button"  onclick="window.location.href='{% url 'add_record' %}';">Add record</button>
            <button class="btn btn-primary add_expense_button" type="button"  onclick="window.location.href='{% url 'view_recurring_records' %}';">Manage recurring records</button>
            <br/>
            <h2>Recent expenses:</h2>
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Catagory</th>
                    <th scope="col">Description</th>
                    <th scope="col">In/Out</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Action</th>
                </tr>
              </thead>
                <tbody>
                    {% if records %}
                        {% for record in records %}
                            {% if record.userid == user.id %}
                                <tr>
                                    <td>{{ record.created_at }}</td>
                                    <td>{{ record.catagory }}</td>
                                    <td>{{ record.description }}</td>
                                    <td>{{ record.income }}</td>
                                    <td>{{ record.amount }}</td>
                                    <td><a href="javascript:void(0)" onclick="confirmDelete({{ record.id }})" class = "btn btn-danger btn-hover" style = "color:white"><i class="fa fa-trash"></i></a></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            </tr>
        {% else %}

        <h1>Login</h1>
        <br/>
        <form method="POST" action = {% url 'home' %}>
            {% csrf_token %}
            <form>
              <div class="mb-3">
                <input type="text" class="form-control" name="username" placeholder="Username" required>
                  <br/>
                <input type="password" class="form-control" name="password" placeholder="Password" required>
              </div>
                <br/>
              <button type="Login" class="btn btn-primary">Login</button>
            </form>
        </form>
    {% endif %}


{% endblock %}