{% extends 'base.html' %}

{%  block content %}
        {% if user.is_authenticated %}
        <h1>Welcome {{ user.username }}</h1>
            <br/>
            <h2>Recent expenses:</h2>

            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Description</th>
                  <th scope="col">In/Out</th>
                  <th scope="col">Amount</th>
                </tr>
              </thead>
                <tbody>
                    {% if records %}
                        {% for record in records %}
                            <tr>
                                <td>{{ record.created_at }}</td>
                                <td>{{ record.description }}</td>
                                <td>{% if record.income %}
                                    In
                                {% else %}
                                    Out
                                {% endif %}</td>
                                <td>{{ record.amount }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
                </tr>

        {% else %}

        <h1>Login</h1>
        <br/>
        <form method="POST" action = {% url 'home' %}>
            {% csrf_token %}
            <form>
              <div class="mb-3">
                <input type="text" class="form-control" name="username", placeholder="Username" required>
                  <br/>
                <input type="password" class="form-control" name="password" placeholder="Password" required>
              </div>
                <br/>
              <button type="Login" class="btn btn-primary">Login</button>
            </form>
        </form>
    {% endif %}


{% endblock %}